* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aquamarine-400: #1AEAB6;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}