.sidebar {
  background-color: var(--aquamarine-400);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  width: 370px;
  height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 36px;

  line-height: 44px;
}